{% extends 'proyecto/layout.html' %}
{% load humanize %}
    {% block content %}
        <div class="container text-center">
            <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#Reserva</th>
                <th scope="col">Cancha</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cliente</th>
                <th scope="col">Empleado</th>
                <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas  %}
                    <tr>
                        <th scope="row"> Reserva #{{ reserva.id }}</th>
                        <td>{{ reserva.cancha }}</td>
                        <td>{{ reserva.fecha_reserva | apnumber }}</td>
                        <td>{{ reserva.cliente }}</td>
                        <td>{{ reserva.empleado }}</td>                        
                        <td>
                            <a class="btn btn-danger btn-sm" href="{% url 'eliminar' reserva.id %}">Eliminar</a>
                            <a class="btn btn-primary btn-sm" href="{% url 'editarReserva' reserva.id %}">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>

    {% endblock %}